@import "tailwindcss";

:root {
  --color-flist-bg: #f9fafb;
  --color-flist-border: #e5e7eb;
  --color-flist-blue: #3b82f6;
  --color-flist-blue-light: #eff6ff;
  --color-flist-blue-dark: #1e40af;
  --color-flist-dark: #1f2937;
  --color-flist-muted: #6b7280;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: var(--color-flist-bg);
  color: var(--color-flist-dark);
}
